node_modules
dist
.env
logs
coverage
*.log
*.env
.DS_Store
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo
*.cache
*.eslintcache
*.prettiercache
*.vscode
*.idea
*.vs